@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", "DM Sans", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;
}

@layer components {
  .black-gradient-mesh {
    @apply bg-gradient-to-b from-black via-black-medium to-black-light;
  }

  .black-gradient-soft {
    @apply bg-gradient-to-b from-black/90 via-black-medium/80 to-black-light/70;
  }

  .black-gradient-with-opacity {
    @apply bg-gradient-to-b from-black/100 via-black/75 to-black/50;
  }
}

@media (display-mode: standalone) {
  body {
    background-color: #000000;
  }
}
